{{ define "main" }}

<div class="container"><div class="section-label">{{ .Title }}</div></div>
{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages }}
<div class="main-grid">
  {{ range $paginator.Pages }}
    <div class="card" onclick="window.location.href='{{ .RelPermalink }}'">
      <div class="card-img-ph shimmer">{{ if .Params.image }}<img src="{{ (strings.TrimPrefix "/" .Params.image) | relURL }}" alt="{{ .Title }}">{{ end }}</div>
      <div class="card-body">
        <div class="card-cat {{ .Params.cat_class | default "c-bl" }}">
          <span class="cdot {{ .Params.cd_class | default "cd-bl" }}"></span>
          {{ .Params.liga | default "Bundesliga" }}
        </div>
        <div class="card-title">{{ .Title | upper }}</div>
        <div class="card-excerpt">{{ .Params.teaser | default .Summary }}</div>
      </div>
    </div>
  {{ end }}
</div>

{{ end }}
