<footer>
  <div class="footer-logo">CLOUD<span>4.0</span></div>
  <div class="footer-copy">© {{ now.Year }} Alle Rechte vorbehalten</div>
  <div class="footer-links">
    <a href="{{ "register/" | relURL }}">Registrieren</a>
    <a href="{{ "login/" | relURL }}">Anmelden</a>
    <a href="{{ "konto/" | relURL }}">Mein Konto</a>
  </div>
  <div class="footer-soc">
    <a class="soc-btn" href="{{ "spiele/" | relURL }}">Spiele</a>
    <a class="soc-btn" href="{{ "quiz/" | relURL }}">Quiz</a>
    <a class="soc-btn" href="{{ "mitschrift/" | relURL }}">Mitschriften</a>
  </div>
</footer>
